body {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
}

header {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

header h1 {
  display: inline;
  font-size: 56px;
  font-weight: 800;
}

header p {
  display: block;
}

.container {
  background-color: white;
  width: 400px;
  border-radius: 30px;
  padding: 30px 70px 50px;
}

#info > input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 0.8px solid rgb(155, 155, 155);
  padding: 5px 15px 5px;
  box-sizing: border-box;
}

#info > input:not(:last-child) {
  margin-bottom: 15px;
}

#info > input::placeholder {
  font-size: 16px;
}

#gender {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

#gender div:not(:last-child) {
  margin-right: 50px;
}

footer {
  padding: 20px 0px;
}

#agreement {
  margin-bottom: 50px;
}

#agreement div {
  display: flex;
  align-items: start;
}

#agreement div:not(:last-child) {
  margin-bottom: 7px;
}

#agreement label {
  line-height: 22px;
  margin-left: 5px;
  font-size: 14px;
  color: rgb(111, 111, 111);
}

#agreement label::before {
  content: '[필수] ';
}

#submit {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: blueviolet;
}

#submit:hover {
  background-color: rgb(111, 24, 193);
}

#submit:active {
  translate: 1px 1px;
}

footer a {
  display: block;
  font-size: 14px;
  text-align: center;
  color: rgb(92, 18, 160);
  text-decoration: none;
  margin-top: 25px;
}
