.banner {
  max-width: 49rem;
  height: 7.7rem;
  margin: 3rem auto;
  background-color: var(--color--banner);
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
}

.banner-message {
  align-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4;
}

.btn-in-banner {
  height: 2.7rem;
  width: 5.2rem;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .banner {
    margin: 1rem;
    padding: 1.5rem;
    height: 8.5rem;
    flex-direction: column;
    align-items: start;
    row-gap: 0.5rem;
  }

  .banner-message {
    font-size: 1rem;
    font-weight: 600;
  }

  .btn-in-banner {
    height: 2.2rem;
    width: 5.2rem;
    font-size: 0.77rem;
  }
}
