body {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
}

::selection {
  background-color: rgb(22, 88, 222);
  color: white;
}
.container {
  margin-top: 70px;
  width: 500px;
  background-color: white;
  border-radius: 15px;
  height: 800px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  border: 0.7px solid rgb(111, 111, 111);
  box-shadow: rgba(111, 111, 111, 0.3) 0 0 10px;
}

header {
  background-color: rgb(22, 88, 222);
  width: 100%;
  height: 80px;
  text-align: center;
}

.title {
  font-weight: 700;
  color: white;
  font-size: 36px;
}

.chat-box {
  width: 100%;
  height: calc(100% - 130px);
  background-color: rgb(240, 240, 240);
}

.input-box {
  height: 50px;
  display: flex;
}

.input-chat {
  resize: none;
  border: none;
  border-top: 0.7px solid rgb(111, 111, 111);
  outline: none;
  width: calc(100% - 90px);
  height: 50px;
  font-size: 20px;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.send {
  width: 90px;
  border: none;
  height: 50px;
  background-color: rgb(250, 73, 24);
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-left: 0.7px solid rgb(111, 111, 111);
}

.send:active {
  background-color: rgb(231, 61, 14);
}
