* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(251, 233, 159);
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 100vw;
  background: rgb(251, 233, 159);
}

#in_header {
  background-color: rgb(228, 124, 49);
  width: calc(100% - 100px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#logo {
  background-color: white;
  width: 100px;
  padding: 10px;
  font-family: 'Silkscreen';
}

nav {
  height: inherit;
  display: flex;
  gap: 0;
}

nav a {
  background-color: white;
  border: none;
  width: 70px;
  height: 100%;
  align-content: center;
  font-size: 15px;
  font-family: 'Silkscreen';
}

#section_1 {
  width: 100%;
  height: 300px;
  background-color: papayawhip;
  text-align: center;
  align-content: center;
}

#section_2 {
  background-color: rgb(195, 244, 162);
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: calc(100% - 100px);
  margin: 0 auto;
}

#section_2 .container {
  background-color: rgb(136, 218, 220);
  display: flex;
  gap: 28px;
}

.circle {
  border-radius: 50%;
  background-color: #aff4f4;
  border: 1px solid black;
  width: calc(25vw - 21px);
  aspect-ratio: 1/1;
}

#section_3 {
  margin: 0 50px;
  height: 1100px;
  background-color: rgb(218, 238, 156);
}

#section_3 .container {
  height: inherit;
  width: 100%;
  background-color: rgb(148, 230, 232);
  overflow: hidden;
}

.con_wrap {
  float: left;
  width: 30%;
  height: inherit;
  margin-right: 5%;
  background-color: rgb(0, 255, 255);
  padding-bottom: 100px;
}

.con_wrap:last-child {
  margin-right: 0;
}

li {
  background-color: rgb(156, 255, 35);
  height: 300px;
}

.long_box {
  background-color: rgb(255, 232, 57);
  width: calc(117%);
  text-align: center;
  align-content: center;
}

.m_box {
  margin: 50px 0;
}

#top_btn {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: rgb(215, 77, 77);
  border: none;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
}

#top_btn:hover {
  background-color: rgb(221, 51, 51);
}
#top_btn:active {
  font-size: 20px;
}
