@font-face {
  font-family: 'HakgyoansimDunggeunmisoTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color--brand: rgb(255, 88, 10);
  --color--brand-dark: rgb(247, 78, 0);
  --color--brand-md: rgb(251, 115, 52);
  --color--brand-light: rgb(255, 227, 213);
  --color--banner: rgb(249, 238, 231);
  --color--darker-gray: rgb(70, 70, 70);
  --color--dark-gray: rgb(123, 123, 123);
  --color--md-gray: rgb(150, 150, 150);
  --color--semi-light-gray: rgb(220, 220, 220);
  --color--light-gray: rgb(235, 235, 235);
  --color--white: white;
}

.flex {
  display: flex;
}

button,
.logo,
.menu,
.job-opening,
li,
.menu rt-btn,
.app-store-text {
  cursor: pointer;
}

.md-screen,
.sm-screen,
.side-menu,
.footer-top-app-download .app-store-text {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

li:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
}

.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 4.7rem;
  background-color: var(--color--white);
  padding: 0.5rem 1rem;
}

main,
footer {
  position: relative;
  z-index: 0;
  top: 4.7rem;
}

.header .top-menu {
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  max-width: 75rem;
  margin: auto;
}

.top-left-menu {
  width: calc(100% - 30rem);
  min-width: 37rem;
}

.logo {
  color: var(--color--brand);
  text-align: center;
  font-family: 'HakgyoansimDunggeunmisoTTF-B';
  font-weight: normal;
  font-size: 1.7rem;
  flex-shrink: 0;
}

.menus {
  gap: 1.5rem;
  margin-left: 2rem;
}

.menus .menu {
  font-size: 1.1rem;
  font-weight: 700;
  align-content: center;
  color: var(--color--darker-gray);
}

.menus .selected,
.side-menu .selected {
  color: var(--color--brand-md);
}

.menu:hover {
  color: var(--color--md-gray);
}

.selected:hover {
  color: var(--color--brand);
}

.menu:active {
  transform: translate(1px, 1px);
}

.top-right-menu {
  width: 30rem;
  height: 2.7rem;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.top-right-menu input {
  border: 0;
  border-radius: 0.6rem;
  outline: none;
  width: 17rem;
  height: 100%;
  background-color: var(--color--light-gray);
  font-size: 1rem;
  padding: 0.9rem;
}

.top-right-menu input::placeholder {
  color: var(--color--dark-gray);
}

.top-right-menu .chat-btn {
  min-width: 5.5rem;
  height: 100%;
  padding: 0 0.9rem;
  border: var(--color--md-gray) 0.7px solid;
  border-radius: 0.5rem;
  background-color: var(--color--white);
  font-size: 1rem;
  font-weight: 700;
}

.chat-btn:hover {
  background-color: var(--color--light-gray);
  color: var(--color--darker-gray);
}

.rt-btn {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  align-content: center;
}

.side-menu {
  z-index: 999;
  position: absolute;
  top: 3rem;
  right: -1rem;
  background-color: var(--color--white);
  width: 100vw;
  height: 17rem;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu p {
  font-size: 1.1rem;
  padding: 1rem;
  height: calc(100% / 5);
  color: var(--color--dark-gray);
}

.side-menu p:hover {
  background-color: var(--color--light-gray);
}

.rt-btn img {
  width: 1.2rem;
}

.rt-btn:hover {
  background-color: var(--color--light-gray);
  transition: background-color ease-in 0.1s;
}

.rt-btn:active {
  font-size: 1.3rem;
}

.intro-banner {
  background-color: var(--color--brand-light);
  height: 20rem;
  align-content: center;
}

.intro-box {
  max-width: 50rem;
  height: 16rem;
  margin: auto;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.intro-box .intro-message {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 600;
}

.intro-box p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--color--darker-gray);
}

.intro-box .post-btn,
.banner .btn-in-banner {
  background-color: var(--color--brand);
  color: var(--color--white);
  border: 0;
  border-radius: 0.3rem;
  font-weight: 500;
}

.intro-box .post-btn {
  width: 5.3rem;
  height: 2.3rem;
}

.intro-box .post-btn:hover,
.banner .btn-in-banner:hover {
  background-color: var(--color--brand-dark);
}

.intro-box .post-btn:active,
.banner .btn-in-banner:active {
  transform: translate(1px, 1px);
}

.job-list {
  max-width: 50rem;
  margin: 3rem auto;
  padding: 1rem;
}

.popular-title {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.popular-jobs {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2.3rem;
}

.job-opening {
  gap: 1rem;
  width: 22rem;
}

.job-image {
  background-color: var(--color--brand-md);
  width: 6.7rem;
  height: 6.7rem;
  text-align: center;
  align-content: center;
  color: var(--color--white);
  flex-shrink: 0;
  border-radius: 1rem;
}

.job-dsc {
  flex-direction: column;
  gap: 0.35rem;
}

.job-title {
  font-size: 1.2rem;
  line-height: 1.3;
}

.company-info {
  font-size: 0.9rem;
  color: var(--color--md-gray);
}

.salary {
  font-weight: 700;
  font-size: 1.05rem;
}

.banner {
  max-width: 49rem;
  height: 7.7rem;
  margin: 3rem auto;
  background-color: var(--color--banner);
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
}

.banner-message {
  align-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4;
}

.btn-in-banner {
  height: 2.7rem;
  width: 5.2rem;
  flex-shrink: 0;
}

footer,
.footer-bottom {
  border-top: 1px solid var(--color--light-gray);
}

.footer {
  max-width: 50rem;
  margin: auto;
  padding: 3rem 1rem;
}

.footer-top {
  justify-content: space-between;
  font-size: 0.87rem;
  padding-bottom: 3rem;
}

.footer-top-nav {
  gap: 2rem;
}

.footer-top-nav-list {
  width: 7rem;
  line-height: 2.7;
}

.footer-top-nav-list li {
  color: var(--color--darker-gray);
}

.footer-top-app-download {
  width: 19rem;
  line-height: 2;
  float: right;
}

.footer-top-app-download p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color--darker-gray);
}

.footer-top-app-download div {
  gap: 0.8rem;
}

.footer-top-app-download .app-store-btn {
  border: 0;
  border-radius: 0.5rem;
  height: 2.6rem;
  padding: 0 1.5rem;
  background-color: var(--color--light-gray);
  font-weight: 700;
  font-size: 0.9rem;
}

.app-store-btn:hover {
  color: var(--color--md-gray);
}

.footer-bottom {
  clear: both;
  padding: 2rem 0 5rem;
  font-size: 0.85rem;
  color: var(--color--dark-gray);
}

.footer-bottom-company-info {
  line-height: 1.6;
}

.footer-bottom-company-info span {
  font-weight: 500;
}

.footer-bottom-company-info address {
  font-style: normal;
}

.footer-bottom-nav {
  font-weight: 500;
}

.footer-bottom-nav section:nth-child(1) {
  margin: 2rem 0;
}

.footer-bottom-nav-list {
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 0;
}

@media screen and (max-width: 992px) {
  .md-screen {
    display: block;
  }
  .lg-screen {
    display: none;
  }
  .top-left-menu {
    min-width: 32rem;
  }
}

@media screen and (max-width: 768px) {
  .sm-screen {
    display: block;
  }
  .menus,
  .chat-btn,
  .intro-box p,
  .footer-top-app-download .app-store-btn {
    display: none;
  }
  .top-left-menu {
    min-width: fit-content;
  }
  .intro-banner {
    height: 23rem;
  }
  .intro-box .post-btn {
    width: 4.9rem;
    height: 2.1rem;
    font-size: 0.77rem;
  }
  .rt-btn:nth-child(2) {
    position: relative;
    display: inline-block;
  }
  .rt-btn:nth-child(2):hover .side-menu {
    display: flex;
  }
  .intro-banner {
    align-content: start;
  }
  .intro-box {
    padding-top: 2rem;
    justify-content: start;
  }
  .intro-box .intro-message {
    line-height: 1.3;
    font-size: 1.6rem;
  }
  .popular-title {
    font-size: 1.35rem;
  }
  .job-opening {
    width: 100%;
  }
  .job-title {
    font-size: 1.17rem;
  }
  .salary {
    font-size: 1rem;
  }
  .job-image {
    width: 6.3rem;
    height: 6.3rem;
  }
  .banner {
    margin: 1rem;
    padding: 1.5rem;
    height: 8.5rem;
    flex-direction: column;
    align-items: start;
    row-gap: 0.5rem;
  }
  .banner-message {
    font-size: 1rem;
    font-weight: 600;
  }
  .btn-in-banner {
    height: 2.2rem;
    width: 5.2rem;
    font-size: 0.77rem;
  }
  .footer {
    padding: 3rem 1rem;
  }
  .footer-top-nav {
    float: none;
  }
  .footer-top-app-download {
    float: none;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .footer-top-app-download .app-store-text {
    font-weight: 700;
    display: block;
  }
  .footer-bottom-nav section:nth-child(1) {
    margin: 1rem 0;
  }
}
