footer,
.footer-bottom {
  border-top: 1px solid var(--color--light-gray);
}

.footer {
  max-width: 50rem;
  margin: auto;
  padding: 3rem 1rem;
}

.footer-top {
  justify-content: space-between;
  font-size: 0.87rem;
  padding-bottom: 3rem;
}

.footer-top-nav {
  gap: 2rem;
}

.footer-top-nav-list {
  width: 7rem;
  line-height: 2.7;
}

.footer-top-nav-list li {
  color: var(--color--darker-gray);
}

.footer-top-app-download {
  width: 19rem;
  line-height: 2;
  float: right;
}

.footer-top-app-download p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color--darker-gray);
}

.footer-top-app-download div {
  gap: 0.8rem;
}

.footer-top-app-download .app-store-btn {
  border: 0;
  border-radius: 0.5rem;
  height: 2.6rem;
  padding: 0 1.5rem;
  background-color: var(--color--light-gray);
  font-weight: 700;
  font-size: 0.9rem;
}

.app-store-btn:hover {
  color: var(--color--md-gray);
}

.footer-bottom {
  clear: both;
  padding: 2rem 0 5rem;
  font-size: 0.85rem;
  color: var(--color--dark-gray);
}

.footer-bottom-company-info {
  line-height: 1.6;
}

.footer-bottom-company-info span,
.footer-bottom-nav {
  font-weight: 500;
}

.footer-bottom-company-info address {
  font-style: normal;
}

.footer-bottom-nav section:nth-child(1) {
  margin: 2rem 0;
}

.footer-bottom-nav-list {
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 3rem 1rem;
  }

  .footer-top-nav {
    float: none;
  }

  .footer-top-app-download {
    float: none;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0.8rem;
  }

  .footer-top-app-download .app-store-text {
    font-weight: 700;
    display: block;
  }

  .footer-bottom-nav section:nth-child(1) {
    margin: 1rem 0;
  }
}
